<template>
  <section>
    <div v-if="municipalities!=null">
      <h2>{{ $t("message.Municipalities") }}</h2>
      <select v-model="municipality" @change="sendDataMunicipality">
        <option v-for="(municipality, index) in municipalities" :key="index" :value="municipality">
          {{ municipality.NOMBRE }}
        </option>
      </select>
    </div>
  </section>
</template>
<script>

import axios from 'axios'
import {eventBus} from '../main.js'

import ApiServices from '../services/ApiServices';
const restApiServices = new ApiServices();

export default {
  created() {
    eventBus.$on('provinceData', (idProvince) => {
      this.idProvince = idProvince
      restApiServices.getmunicipalities(idProvince).then(
        municipalities => {
          this.municipalities = municipalities
        }
      )    
    })
  },
  data() {
    return {
      idProvince: null,
      municipalities: null,
      municipality: null,
    }
  },
  methods: {
    sendDataMunicipality() {
      eventBus.$emit('municipalityeData', this.idProvince, this.municipality.COD_GEO)
    }
  },
  components: {
    
  }
}
  
</script>

<style>

</style>
