<template>
  <section>
    <h2>{{ $t('message.Provinces') }}:</h2>
    <select v-model="province" @change="sendDataProvince">
      <option v-for="(province, index) in provinces" :key="index" :value="province">
        {{ province.NOMBRE_PROVINCIA }}
      </option>
    </select>   
  </section>
</template>

<script>
import axios from 'axios'
import {eventBus} from '../main.js'

import ApiServices from '../services/ApiServices';
const restApiServices = new ApiServices();

export default {
  created() {
    restApiServices.getProvinces().then(
      provinces => {
        this.provinces = provinces
      }
    )
    
  },
  data() {
    return {
      provinces: [],
      province: {},
    }
  },
  methods: {
    sendDataProvince() {
      eventBus.$emit('provinceData', this.province.CODPROV)
    },
  }
}
</script>

<style>
  h2 {
    margin-top: 50px;
  }
</style>
