<template>
  <div class="data" data-css v-if="temperatures!=null">
    <table class="header">
      <tr>
          <th><h2>{{ $t("message.Date") }}</h2></th>
          <th><h2>{{ $t("message.Temperature") }}</h2></th>
          <th><h2>{{ $t("message.RelativeHumidity") }}</h2></th>
          <th><h2>{{ $t("message.ThermalSensation") }}</h2></th>
        </tr>
    </table>
    <div v-for="(temperature, index) in temperatures" :key="index">
      <table>
        
        <tr>
          <td><h3>{{temperature['@attributes'].fecha}}</h3></td>
          <td><h3>{{ $t("message.Maximun") }}: {{temperature['temperatura'].maxima}}</h3>
              <h3>{{ $t("message.Minimun") }}: {{temperature.temperatura.minima}}</h3></td>
          <td><h3>{{ $t("message.Maximun") }}: {{temperature.sens_termica.maxima}}</h3>
              <h3>{{ $t("message.Minimun") }}: {{temperature.sens_termica.minima}}</h3></td>
          <td><h3>{{ $t("message.Maximun") }}: {{temperature.humedad_relativa.maxima}}</h3>
              <h3>{{ $t("message.Minimun") }}: {{temperature.humedad_relativa.minima}}</h3></td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import {eventBus} from '../main.js'

import ApiServices from '../services/ApiServices';
const restApiServices = new ApiServices();

export default {
  created() {
    eventBus.$on('municipalityeData', (idProvince, idMunicipality) => {
      restApiServices.getTemperature(idProvince, idMunicipality).then(
        temperatures => {
          this.temperatures = temperatures
        }
      )
    })
  },
  data() {
    return {
      temperatures: null,
      temperature: null,
    }
  }
} 
</script>

<style scoped>
  .data[data-css] {
    margin: auto;
    margin-top: 50px;
    width: 50%;
    padding: 10px;
  }
  .header {
    background-color: grey;
  }
  tr, td {
    margin: auto;
    width: 10%;
    padding: 10px;
  }
  th {
    margin: auto;
    width: 10%;
    padding: 10px;
  }
  
  .data h2 {
    color: white;
    font: bold;
    font-size: 21px;
  }
  .data h3 {
    font-size: 18px;
    color: blue;
  }

</style>
