<template>

  <div id="app">
    <h1>{{ $t('message.Title') }}</h1>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true" @click="Spanish"><img :src="require('./media/spanish.png')"/></a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"  @click="English"><img :src="require('./media/english.jpg')"/></a>
      </div>
    </nav>
    <provincia></provincia>
    <municipio></municipio>
    <temperatura></temperatura>
  </div>
</template>

<script>
import Provincia from './components/Provincia.vue'
import Municipio from './components/Municipio.vue'
import Temperatura from './components/Temperatura.vue'

//import spanish from './media/spanish.png'
//import english from './media/english.jpg'

export default {
  name: 'app',
  data() {
    return {
      //spanish,
      //english
    }
  },
  components: {
    Provincia,
    Municipio,
    Temperatura
  },
  methods: {
    switchLocale() {
      this.$i18n.locale === 'es' ? this.$i18n.locale = 'en' : this.$i18n.locale = 'es'
    },
    Spanish() {
      this.$i18n.locale = 'es'
    },
    English() {
      this.$i18n.locale = 'en'
    },
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}
img {
  width: 100px;
  height: 80px;
}

</style>
